

 <% if current_user %>

 <h1>Projects</h1>

 <div class="row" >
    <div class="col-md-7" style=" border-radius:10px; background: rgba(100, 100, 100, 0.5);">
      <table class="table">
         <thead>
           <tr>
             <th scope="col" style="color:white;">Project Title</th>
             <th scope="col" style="color:white;">Manager</th>
             <th scope="col" style="color:white;">Links</th>
             <th scope="col" style="color:white;">Due Date</th>

           </tr>
         </thead>
         <tbody>
           <% @projects.each do |project| %>
             <tr scope="row">
               <td style="color:white;"><b><h4><%= project.title %></h4></b></td>
               <td style="color:white;"><%= project.manager.email %></td>
               <td style="color:white;"><%= link_to 'Show', project %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               <td style="color:white;"><%= Sprint.time %></td>
             </tr>
           <% end %>
         </tbody>
       </table>

    </div><!-- // end of column 1  -->


    <div class="col-md-5" style=" border-radius:10px; background: rgba(240, 240, 240, 0.5);">
      <h2><%= @agileTitle %></h2>
      <a href="<%= @agileLink %>"><%= @agileLink %></a>

      <h5><%= @agile_title %></h5>

      <%= @feed.items.each do |item|  %>
       <h5><%= @agile_title %></h5>
      <% end  %>




    </div><!-- //end of column 2 -->

  </div>

 <br>

 <%= link_to 'New Project', new_project_path %>
 <%= link_to 'Back To Project Board', home_index_path %>


<% elsif current_manager %>

<h1>Projects</h1>

<div class="row" >
   <div class="col-md-7" style=" border-radius:10px; background: rgba(100, 100, 100, 0.5);">
     <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color:white;">Project Title</th>
            <th scope="col" style="color:white;">Manager</th>
            <th scope="col" style="color:white;">Links</th>
            <th scope="col" style="color:white;">Due Date</th>

          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr scope="row">
              <td style="color:white;"><b><h4><%= project.title %></h4></b></td>
              <td style="color:white;"><%= project.manager.email %></td>
              <td style="color:white;"><%= link_to 'Show', project %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td style="color:white;"><%= Sprint.time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

   </div><!-- // end of column 1  -->


   <div class="col-md-5" style=" border-radius:10px; background: rgba(240, 240, 240, 0.5);">
     <h2><%= @agileTitle %></h2>
     <a href="<%= @agileLink %>"><%= @agileLink %></a>

     <h5><%= @agile_title %></h5>

     <%= @feed.items.each do |item|  %>
      <h5><%= @agile_title %></h5>
     <% end  %>




   </div><!-- //end of column 2 -->

 </div>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Back To Project Board', home_index_path %>
<% else %>
      <div class="row"  style="text-align:center">
         <div class="col-md-4"></div>
         <div class="col-md-4" style="text-align:center"><h1>Ganban</h1></div>
         <div class="col-md-4"></div>
      </div>
      <div class="row" >
         <div class="col-md-4" style="text-align:center; border-radius:10px; background: rgba(240, 240, 240, 0.5);">
           <h1>Users</h1><hr>
           <h3> <%= link_to "New User Sign Up", new_user_registration_path %></h3><hr>
           <h3> <%= link_to "User Log In", new_user_session_path%></h3><hr>
         </div>
         <div class="col-md-4" style="text-align:center"></div>
         <div class="col-md-4" style="text-align:center; border-radius:10px; background: rgba(240, 240, 240, 0.5);">
           <h1>Managers</h1><hr>
           <h3><%= link_to "New Manager Sign Up", new_manager_registration_path %></h3><hr>
           <h3> <%= link_to "Manager Log In", new_manager_session_path %></h3><hr>
         </div>
      </div>

      <div class="row" >
         <div class="col-md-4"></div>
         <div class="col-md-4" style="text-align:center; border-radius:10px; background: rgba(100, 100, 100, 0.5);"><h1 style="color:white;"><%= @rss %></h1></div>
         <div class="col-md-4"></div>
      </div>
      <div class="row" >
         <div class="col-md-4"></div>
         <div class="col-md-4" style="text-align:center; border-radius:10px; background: rgba(240, 240, 240, 0.5);"><h5 style="color:white;"> by <%= @rss_author %></h5></div>
         <div class="col-md-4"></div>
      </div>






<% end %>
