
 <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


<style>
  body{
  #  background-color: powderblue;
  }
.col-md-3{
height: 600px;
border-radius: 3px;
text-align: center;
# background-color: powderblue;
}
</style>

<script>
    function dragStart(event) {
      event.dataTransfer.setData("Text", event.target.id);
      document.getElementById("demo").innerHTML = "Started to drag the p element";
    }

    function allowDrop(event) {
      event.preventDefault();
    }

    function drop(event) {
      event.preventDefault();
      var data = event.dataTransfer.getData("Text");
      event.target.appendChild(document.getElementById(data));
      // document.getElementById("demo").innerHTML = "The p element was dropped";
    }
</script>


<div class="container">

  <div class="row" style="text-align:center;background: rgba(240, 240, 240, 0.5);" >


    <div id="to_do" class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>To Do</h3><hr>



        <% @tasks.each do |task| %>
        <% if task.status.include? "To Do" %>
        <% if task.projectname.include? @project.title %>
        <div class="card" draggable="true" ondragstart="dragStart(event)" id="dragtarget" style="border: 2px solid purple;  border-top: 15px solid purple; border-radius:5px;  margin-bottom: 6px;">
          <header class="w3-container w3-blue">
            <h3 style="color:black;"><%= task.title %></h3>
          </header>
          <div class="w3-container">
            <p><%= task.description %></p>
            <p><%= task.projectname %></p>

          </div>
    <%= link_to 'Show', task %>  |  <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
        <% end %>
        <% end %>


    </div>

    <div id="progress" class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>In Progress</h3><hr>

      <% @tasks.each do |task| %>
      <% if task.status.include? "In Progress" %>
      <% if task.projectname.include? @project.title %>
      <div class="card" draggable="true" ondragstart="dragStart(event)" id="dragtarget" style="border: 2px solid yellow;  border-top: 15px solid yellow; border-radius:5px;">
        <header class="w3-container w3-blue">
          <h3 style="color:black;"><%= task.title %></h3>
        </header>
        <div class="w3-container">
          <p><%= task.description %></p>
          <p><%= task.projectname %></p>

        </div>
  <%= link_to 'Show', task %>  |  <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
      <% end %>
      <% end %>


    </div>
    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>Testing</h3><hr>

      <% @tasks.each do |task| %>
      <% if task.status.include? "Testing" %>
      <% if task.projectname.include? @project.title %>
      <div class="card" draggable="true" ondragstart="dragStart(event)" id="dragtarget" style="border: 2px solid red;  border-top: 15px solid red; border-radius:5px;">
        <header class="w3-container w3-blue">
          <h3 style="color:black;"><%= task.title %></h3>
        </header>
        <div class="w3-container">
          <p><%= task.description %></p>
          <p><%= task.projectname %></p>

        </div>
  <%= link_to 'Show', task %>  |  <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
      <% end %>
      <% end %>


    </div>
    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>Complete</h3><hr>

      <% @tasks.each do |task| %>
      <% if task.status.include? "Complete" %>
      <% if task.projectname.include? @project.title %>
      <div class="card" draggable="true" ondragstart="dragStart(event)" id="dragtarget" style="border: 2px solid green; border-top: 15px solid green; border-radius:5px;">
        <header class="w3-container w3-blue">
          <h3 style="color:black;"><%= task.title %></h3>
        </header>
        <div class="w3-container">
          <p><%= task.description %></p>
          <p><%= task.projectname %></p>

        </div>
  <%= link_to 'Show', task %>  |  <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
      <% end %>
      <% end %>


    </div>
  </div>


</div> <!-- /container -->

</div>

</div>
