<p id="notice"><%= notice %></p>

<%= render "navbar" %>


<div class="row" >
   <div class="col-md-8" style=" border-radius:10px; border:1px solid white; background: rgba(100, 100, 100, 0.5);">
     <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color:white; text-align:center;">Project Title</th>
            <th scope="col" style="color:white; text-align:center;">Manager</th>
            <th scope="col" style="color:white; text-align:center;">Links</th>
            <th scope="col" style="color:white; text-align:center;">Start Date</th>
            <th scope="col" style="color:white; text-align:center;">Due Date</th>
          </tr>
        </thead>
        <tbody>

          <% @projects.each do |project| %>

            <tr scope="row">
              <td style="color:white; text-align:center; background: rgba(0, 0, 50, 0.5);"><b><h5><%= project.title %></h5></b></td>
              <td style="color:white; text-align:center;"><%= project.manager.email %></td>
              <td style="text-align:center;background: rgba(240, 240, 240, 0.5);"><%= link_to 'Show', project %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td style="color:white; text-align:center;"><%= project.created_at.strftime("%d/%m") %></td>
              <td style="color:white; text-align:center;"><%= project.due  %></td>

            </tr>
            <% end %>

        </tbody>
      </table>

   </div><!-- // end of column 1  -->


   <div class="col-md-4" style="text-align:center; border-radius:10px;border: 1px solid white; background: rgba(240, 240, 240, 0.5);">
     <span>
     <h3><%= @agileTitle %></h3>

<% @rss.items.each do |item| %>
     <div class="card"  style="border: 1px solid purple; border-radius:5px; margin-bottom: 6px; box-shadow: 2px 2px;">
       <header class="w3-container w3-blue">
         <h5 style="color:black;"><i>"<%= @agileTitle = item.title %>"</i></h5>
       </header>
       <div class="w3-container">
         <div class="row" >
            <div class="col-md-8"></div>
            <div class="col-md-4"><button type="button" class="btn btn-primary btn-xs" style="margin:3px; "><a style="color:white; href="<%= @agile_Link = item.link %>" target="_blank" >Article</a></button></div>
          </div>
         </div>
       </div>
   <% end %>



          <p></p>

     </span>







   </div><!-- //end of column 2 -->

 </div>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Back To Project Board', home_index_path %>
