<p id="notice"><%= notice %></p>

<%= render "navbar" %>


<div class="row" >
   <div class="col-md-8" style=" border-radius:10px; border:1px solid white; background: rgba(100, 100, 100, 0.5);">
     <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color:white;">Project Title</th>
            <th scope="col" style="color:white;">Manager</th>
            <th scope="col" style="color:white;">Links</th>
            <th scope="col" style="color:white;">Start Date</th>
            <th scope="col" style="color:white;">Due Date</th>

          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr scope="row">
              <td style="color:white; text-align:center; background: rgba(0, 0, 50, 0.5);"><b><h5><%= project.title %></h5></b></td>
              <td style="color:white;"><%= project.manager.email %></td>
              <td style="text-align:center;background: rgba(240, 240, 240, 0.5);"><%= link_to 'Show', project %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td style="color:white;"><%= project.created_at.strftime("%F %T") %></td>
              <td style="color:white;"><%= Sprint.end_time  %></td>



            </tr>
          <% end %>
        </tbody>
      </table>

   </div><!-- // end of column 1  -->


   <div class="col-md-4" style="text-align:center; border-radius:10px;border: 1px solid white; background: rgba(240, 240, 240, 0.5);">
     <span>
     <h3><%= @agileTitle %></h3>
     <button type="button" class="btn btn-primary"><a href="<%= @agileLink %>">Link To Article</a></button>
     </span>
     <h5><%= @agile_title %></h5>

     <%= @feed.items.each do |item|  %>
      <h5><%= @agile_title %></h5>
     <% end  %>




   </div><!-- //end of column 2 -->

 </div>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Back To Project Board', home_index_path %>
