<h1>New Project: Due Date: <%= Sprint.end_time  %></h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
<%= link_to 'Back To Project Board', home_index_path %>
<%= link_to 'All Projects', projects_path %>
